.body {
  box-sizing: border-box;
  background: #f9fafc;
}


.top {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #e4e4e4;
  background: #f9f9f9;
  line-height: 30px;

}
/*fixed menu dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:gray;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown-content-shop {
  display: none;
  position: absolute;
  background-color:white;
  border: 1px solid gray;
  width: 200px;
  padding: 12px 16px;
  z-index:1000;
}
.dropdown:hover .dropdown-content-shop {
  display: block;
}
.dropdown-content-shop span {
  color: gray;
  padding: 20px;
}
.dropdown-content-shop img {
  margin-left: 0px;
}
.lang {
  color: white;

}


.dropdown-content-lang {
   display: none;
   position: absolute;
   border: 1px solid gray;
   width: auto;
   padding: 12px 16px;
   z-index:1000;

 }
.dropdown:hover .dropdown-content-lang {
  display: block;
  text-decoration: none;
  color: white;
}


.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 15px;
  z-index: 99;
}

.span {
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  color: gray;
  font-size: 12px;
  margin-left: 50px;
}
.soc { padding-right: 20px;
  color: gray;
}

.col1 {
  color:black;
}
.navi {
  border-bottom: 1px solid #E4E4E4;
  cursor: pointer;
  height: 80px;
  background: white;
}
.nav1 {
  color:gray ;
  font-size:12px;
  font-weight: bold;
  padding-right: 40px;
  padding-left: 40px;

}
#logo {
  float: left;
  margin-left: 50px;
}
input {
  float: right;
  padding-left:50px;
}

form.form-search {
  position: relative;
}

form.form-search:before {
  content:'';
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
  background-position: -48px 0;
  position: absolute;
  top:8px;
  left:8px;
  opacity: .5;
  z-index: 1;
}
section {
  height: 200px;
  text-align: center;
  background: black;
}


.img1 { /*background-image: url("../img/slide1.jpg");*/
  background-repeat:no-repeat;
  background-size:cover;
  width:100%;
  height:400px;
  position: relative;
  overflow: hidden;
}

.content1 {
  position: relative;
  animation-name: content;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.content2 {
  position: relative;
  animation-name: content;
  animation-duration: 3s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
.content3 {
  position: relative;
  animation-name: content;
  animation-duration: 3s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}


@keyframes content {
  0% {right: -500px;}
  100% {right: 0px;}

}
.centr { top: 50%; left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  position: absolute;
  text-align: center;}
.ani.one {
   width: 200px;
   height: 40px;
   color: white;
   background:red;
  opacity: 0.8;
  padding-top: 10px;

}

.ani.two {
  width: 400px;
  height: 80px;
  color:red;
  background:white;
  padding-top: 15px;
  font-weight: bolder;
  font-size: 30px;

}
.ani.three {
  width: 500px;
  height: 40px;
  color: white;
  background:black;
  padding-top: 10px;
  opacity: 0.8;
  font-family: cursive;

}

.sec1 {
  color: white;
  vertical-align: center;
  margin: 50px 0 20px 0
}
.sec2 {
  margin-right: 50px;
  margin-left: 50px;
  font-size: 20px;
  color: gray;
}
article {
  height: 200px;
  margin-top: 110px;
}
/*Progress bar start*/
.pro {
  background: #3C464D;
  color: white;
  font-family: "Oswald", "Open Sans", sans-serif;
  float: left;
  height: 550px;
}
.value {width: 40px;
  border-color:white;
  border-style: solid;
  border-width: 4px;
  display: block;
  text-align: center;
  border-radius: 2px;
  font-style: italic;
  color: #3C464D;
  background: white;
  margin-right: 10px;
  float: right;
}

.pic1 {
  float: right;
}
.prg {
  background-image:url("../img/bg_header4.jpg") ;
  height: 550px;
  width: 100%;
}
.title {
  text-transform:uppercase;
  margin-left: 30px;
  vertical-align: center;
  text-align: left;
  position: absolute;

}
/* progress bar end */


.rocket {
  height: 300px;
  background: #1ccdca;
  overflow: hidden;
}
/* article styling*/
.circle {
  width: 80px;
  height: 80px;
  border: 1px solid #1ccdca ;
  border-radius: 50%;
  background: white;
  text-align: center;
  padding: 22px;
}
.i {
  color: #1ccdca;
  font-size: 30px;
}
.title1 {
  font-size: 17px;
}

.hov:hover .hov-title {
  color: #1ccdca;
  transition: 0.8s;
  transition-delay: 0.3s;
}
.hov:hover .hov-circle {
  background: #1ccdca;
  transition: 0.8s;
}
.hov:hover .hov-i {
  color: white;
  transition: 0.8s;
}

.card1 {
    max-width: 400px;
}
.why1 .nav-item {
  background-color:white;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  }

.why1 .nav-link {
  color: gray;
  border: 1px solid gray;
  }

.why1 .nav-link.active {
  border-bottom: none;
  border-top: 4px solid #1ccdca;
  color: #1ccdca;
   }

.why1 .tab-content {
  font-size: 14px;
  color: gray;
  background-color: #fff;
  padding: 15px;
  border: none;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}
.why1 .tab-content p {
  padding: 10px;
}
.why1 .tab-content ul {
  padding: 10px;
}
.why1 .tab-content img {
  padding: 10px;
}
.zoom:hover {
  transform: scale(1.5);
}


.heading-line {
  display: inline-block;
  width: 300px;
  height: 20px;
  border-bottom: 3px solid #1ccdca;
  margin-bottom: 5px;
}
.heading-dot {
  color: #1ccdca;
}

.why2 .card {
  margin-bottom: 5px;
}

.why2 .card-header {
  background-color: white;
  padding: 5px 10px;
  border: 1px;
   }
.why2 .card-header button {
  width: 100%;
  color: gray;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
}
.why2 .card-header button span.headTitle {
  float: left;
}
.why2 .card-header button span.toggle {
  float: right;
}
.why2 .card-header i {
  margin-right: 10px;
}

.why2.card-header.active {
  background-color: #1ccdca;
color: white;
}

.why2 .card-body {
  color: gray;
}
/*Team*/
.team h1{
  text-align: center;
  color: gray;
  margin-top: 100px;
}
.sp1 {
  text-align: center;
  color: gray;
}
.team  h2 {
  text-align: center;
  margin: 30px 0;
  color: gray;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
}

.team h3 {
  color: #324545;
  font-size: 18px;
}

.team h4 {
  color: #aaa;
  font-size: 14px;
  margin: 3px 0;
}

.team p {
  display: block;
  line-height: 25px;
  margin: 15px 0;
  color: #999;
}

.team img {
  max-height: 150px;
  max-width: 150px;
  border-radius: 50%;
  border: 2px solid gray;
   }

.team i {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  display: inline-block;
  position: relative;
  top: unset;
  left: unset;
  margin-left: 10px;
}

.team-left {
  text-align: right;
  float: left;
  width: 70%;
  margin-top: 15px;
  padding-right: 10px;
}

.team-left-avatar {
  float: left;
  width: 30%;
}

.team-right {
  text-align: left;
  float: right;
  width: 70%;
  margin-top: 15px;
  padding-left: 10px;
}

.team-right-avatar {
  float: right;
  width: 30%;
}

.slideshow {
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 60px;
  margin-top: -22px;
  margin-left: 20px;
  padding: 18px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius:50%;
  user-select: none;
  text-align: center;

}

.next {
  right:20px;
  border-radius:50%;
}

.prev:hover, .next:hover {
  background-color:white;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border: 2px solid white;
  border-radius: 50%;
  transition: background-color 0.6s ease;
  display:inline-block;
}
 .dot:hover {
  background-color:skyblue;
}









