.body {
  box-sizing: border-box;
  background: #f9fafc;
}

.top {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #e4e4e4;
  background: #f9f9f9;
  line-height: 30px;

}
/*fixed menu dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:gray;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 15px;
}
/* slideshow*/
.mySlides {
  display: none;
}
.img {
  vertical-align: middle;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*@media only screen and (max-width: 600px) {
  .nav {display: none;}  }*/



.span {
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  color: gray;
  font-size: 12px;
  margin-left: 50px;
}
.soc { padding-right: 20px;
  color: gray;
}


.col1 {
  color:black;
}
.navi {
  border-bottom: 1px solid #E4E4E4;
  cursor: pointer;
  height: 80px;
  background: white;
}
.nav1 {
  color:gray ;
  font-size:12px;
  font-weight: bold;
  padding-right: 40px;
  padding-left: 40px;

}
#logo {
  float: left;
  margin-left: 50px;
}
input {
  float: right;
  padding-left:50px;
}

form.form-search {
  position: relative;
}

form.form-search:before {
  content:'';
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
  background-position: -48px 0;
  position: absolute;
  top:8px;
  left:8px;
  opacity: .5;
  z-index: 1000;
}
section {
  height: 200px;
  text-align: center;
  background: black;
}
.sec1 {
  color: white;
  vertical-align: center;
  margin: 50px 0 20px 0
}
.sec2 {
  margin-right: 50px;
  margin-left: 50px;
  font-size: 20px;
  color: gray;
}
article {
  height: 200px;
  margin-top: 110px;
}

.pro {
  background: #3C464D;
  color: white;
  font-family: "Oswald", "Open Sans", sans-serif;
  float: left;
  height: 550px;



}
.pic1 {
  float: right;
}
.prg {
  background-image:url("../img/bg_header4.jpg") ;
  height: 550px;
  width: 100%;
}
.title {
  text-transform:uppercase;
  margin-left: 30px;
  vertical-align: center;
  text-align: left;
  position: absolute;

}

.rocket {
  height: 300px;
  background: #1ccdca;
  overflow: hidden;
}
/* article styling*/
.circle {
  width: 80px;
  height: 80px;
  border: 1px solid #1ccdca ;
  border-radius: 50%;
  background: white;
  text-align: center;
  padding: 22px;
}
.i {
  color: #1ccdca;
  font-size: 30px;
}
.title1 {
  font-size: 17px;
}

.hov:hover .hov-title {
  color: #1ccdca;
  transition: 0.8s;
  transition-delay: 0.3s;
}
.hov:hover .hov-circle {
  background: #1ccdca;
  transition: 0.8s;
}
.hov:hover .hov-i {
  color: white;
  transition: 0.8s;
}

.value {width: 40px;
  border-color:white;
  border-style: solid;
  border-width: 4px;
  display: block;
  text-align: center;
  border-radius: 2px;
  font-style: italic;
  color: #3C464D;
  background: white;
  margin-right: 10px;
  float: right;
}

.card1 {
    max-width: 400px;
}
.why1 .nav-item {
  background-color:white;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  }

.why1 .nav-link {
  color: gray;
  border: 1px solid gray;
  }

.why1 .nav-link.active {
  border-bottom: none;
  border-top: 4px solid #1ccdca;
  color: #1ccdca;
   }

.why1 .tab-content {
  font-size: 14px;
  color: gray;
  background-color: #fff;
  padding: 15px;
  border: none;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}
.why1 .tab-content p {
  padding: 10px;
}
.why1 .tab-content ul {
  padding: 10px;
}
.why1 .tab-content img {
  padding: 10px;
}
.zoom:hover {
  transform: scale(1.5);
}


.why2 .card {
  margin-bottom: 5px;
}

.why2 .card-header {
  background-color: white;
  padding: 5px 10px;
  border: 1px;
   }
.why2 .card-header button {
  width: 100%;
  color: gray;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.why2 .card-header button span.headTitle {
  float: left;
}
.why2 .card-header button span.toggle {
  float: right;
}
.why2 .card-header i {
  margin-right: 10px;
}

.why2 .card.active .card-header  {
  background-color: red;
}

.why2 .card.active .card-header button {
  color:white;
}

.why2 .card-body {
  color: gray;
}



